<!DOCTYPE html>
<html>
<head>
  <title>Event Kit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  <%= javascript_include_tag "application" %>
</body>
</html>
