<!DOCTYPE html>
<html>
<head>
  <title>Event Kit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <meta name="app_version" content="<%= @version %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-title" content="EventKit">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- iOS 7 iPad (retina) -->
  <link href="/webapp/icon/icon_152x152.png" sizes="152x152" rel="apple-touch-icon">
  <!-- iOS 6 iPad (retina) -->
  <link href="/webapp/icon/icon_144x144.png" sizes="144x144" rel="apple-touch-icon">
  <!-- iOS 7 iPhone (retina) -->
  <link href="/webapp/icon/icon_120x120.png" sizes="120x120" rel="apple-touch-icon">
  <!-- iOS 6 iPhone (retina) -->
  <link href="/webapp/icon/icon_114x114.png" sizes="114x114" rel="apple-touch-icon">
  <!-- iOS 7 iPad -->
  <link href="/webapp/icon/icon_76x76.png" sizes="76x76" rel="apple-touch-icon">
  <!-- iOS 6 iPad -->
  <link href="/webapp/icon/icon_72x72.png" sizes="72x72" rel="apple-touch-icon">
  <!-- iOS 6 iPhone -->
  <link href="/webapp/icon/icon_57x57.png" sizes="57x57" rel="apple-touch-icon">
  <!-- iPhone 6 Plus -->
  <link href="/webapp/icon/icon_180x180.png" sizes="180x180" rel="apple-touch-icon">

  <!-- iPhone SPLASHSCREEN-->
  <link href="/webapp/splash/startup_320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
  <!-- iPhone (Retina) SPLASHSCREEN-->
  <link href="/webapp/splash/startup_640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPhone 5 SPLASHSCREEN-->
  <link href="/webapp/splash/startup_640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPad (portrait) SPLASHSCREEN-->
  <link href="/webapp/splash/startup_768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
  <!-- iPad (landscape) SPLASHSCREEN-->
  <link href="/webapp/splash/startup_748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
  <!-- iPad (Retina, portrait) SPLASHSCREEN-->
  <link href="/webapp/splash/startup_1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPad (Retina, landscape) SPLASHSCREEN-->
  <link href="/webapp/splash/startup_1496x2048.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPhone 6 SPLASHSCREEN -->
  <link href="/webapp/splash/startup_750x1294.png" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
  <!-- iPhone 6+ Portrait SPLASHSCREEN -->
  <link href="/webapp/splash/startup_1242x2148.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
  <!-- iPhone 6+ Landscape SPLASHSCREEN -->
  <link href="/webapp/splash/startup_2208x1182.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">

</head>
<body>
  <%= javascript_include_tag "application" %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script>
    window.token = $.cookie('auth_token') || ''

    function isiPhone(){
      return (
        //Detect iPhone
        (navigator.platform.indexOf("iPhone") != -1) ||
        //Detect iPod
        (navigator.platform.indexOf("iPod") != -1)
      );
    }

    $(function() {
      if (window.navigator.standalone) {
        var detectOrientation = function(event) {
          if(window.orientation == 0) {
            $('body').addClass('standalone')
          } else {
            if (isiPhone()) {
              $('body').removeClass('standalone')
            } else {
              $('body').addClass('standalone')
            }
          }
        }

        detectOrientation()
        
        $(window).on("orientationchange", detectOrientation);
      }
    });
  </script>
</body>
</html>
