$color-dark-blue: #2f3847;

$color-light-gray: #EFEFEF;

$color-event-bounce: #888800;
$color-event-click: #000088;
$color-event-deferred: #008888;
$color-event-delivered: #008800;
$color-event-dropped: #880000;
$color-event-open: #000088;
$color-event-processed: #666666;
$color-event-spamreport: #880000;
$color-event-unsubscribe: #008888;