$color-dark-blue: #2f3847;

$color-nav-bar: rgb(34, 34, 34);

$color-light-gray: #EFEFEF;

$color-text-gray: #888888;

$color-event-bounce: #888800;
$color-event-click: #000088;
$color-event-deferred: #808000;
$color-event-delivered: #008800;
$color-event-dropped: #800080;
$color-event-open: #008080;
$color-event-processed: #666666;
$color-event-spamreport: #880000;
$color-event-unsubscribe: #008888;
$color-event-group_unsubscribe: #876543;
$color-event-group_resubscribe: #345678;