.filter-row {
    margin-top: 15px;
}

.form-argument-field {
    width: 243px !important; 
    margin-right: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.form-field {
    width: 500px !important;
    margin-right: 10px !important;
}
