.bounce {
	color: $color-event-bounce;
}

.click {
	color: $color-event-click;
}

.deferred {
	color: $color-event-deferred;
}

.delivered {
	color: $color-event-delivered;
}

.dropped {
	color: $color-event-dropped;
}

.open {
	color: $color-event-open;
}

.processed {
	color: $color-event-processed;
}

.spamreport {
	color: $color-event-spamreport;
}

.unsubscribe {
	color: $color-event-unsubscribe;
}

.group_unsubscribe {
	color: $color-event-group_unsubscribe;
}

.group_resubscribe {
	color: $color-event-group_resubscribe;
}