.content {
	$dashboard-search-panel-top: 80px;
	$dashboard-search-panel-height: 180px;
	$dashboard-half-panel-top: $dashboard-search-panel-height + $dashboard-panel-padding + $dashboard-search-panel-top;

	.home-search-box {
		@include position(absolute, $dashboard-search-panel-top 0px 0px null);
		height: $dashboard-search-panel-height;
	}

	.recent-events {
		width: ($content-width / 2) - ($dashboard-panel-padding / 2);
		@include position(absolute, $dashboard-half-panel-top null null 0px);
	}

	.events-today {
		width: ($content-width / 2) - ($dashboard-panel-padding / 2);
		@include position(absolute, $dashboard-half-panel-top 0px null null);
	}
}