main {
	border-radius: 5px 5px 0px 0px;
	@include position(absolute, 50px 0px 0px 0px);
	background: $color-light-gray;
	overflow-y: auto;
	overflow-x: hidden;

	h1, h2, h3, h4, h5, p, label {
		color: $color-text-gray;
	    text-shadow: 0px 1px 0px white;
	}

	h1, h2, h3, h4, h5 {
	    font-weight: 900;
	}
}

body {
	background: $color-dark-blue !important;
	font-family: Helvetica, Arial, sans-serif;
}

.panel {
	h1, p {
		color: black;
	}
}

.content {
	@include position(absolute, 0px null 0px 50%);
	width: $content-width;
	margin-left: $content-width / -2;
}

.blurred {
	@include blur(5px);
}

.panel-heading {
	background: $color-dark-blue !important;
	border-color: $color-dark-blue !important;
	color: white !important;
}

.panel-info {
	border-color: $color-dark-blue !important;
}