<h4>Step 3 of {{controllers.setup.totalSteps}}</h4>

<p>You're setup! You can now start using EventKit. Be sure you to visit the {{#link-to 'settings'}}Settings page{{/link-to}} where you can setup other credentials with granular control on what they can access.</p>

<p align="center">
	{{#link-to 'home' tagName="button" class="btn btn-primary"}}Go To Dashboard{{/link-to}}
</p>