<h4>Step 3 of {{controllers.setup.totalSteps}}</h4>

<p>You're setup! You can now start using EventKit. Be sure you to visit the Settings page where you can setup other credentials with granular control on what they can access.  To view your EventKit UI, log in below using the credentials you just setup:</p>

<p align="center">
	<button class="btn btn-primary" {{action 'goToDashboard'}}>Log In</button>
</p>