<h4>Step 2 of {{controllers.setup.totalSteps}}</h4>

<p>Now it's time to configure your SendGrid account to use your shiny new endpoint.</p>

<p>You'll first need to go to the <a href="https://sendgrid.com/app/appSettings/type/eventnotify/id/15" target="_blank">Event Notification app settings</a> and add the following URL to the URL field:</p>

<span style="text-align:center;">
	{{endpoint}}
</span>

<p><strong style="color:#800">Important! </strong>Also be sure that you enable the Event Notification app on your <a href="https://sendgrid.com/app" target="_blank">Apps page</a>, otherwise you won't receive any events!</p>

<p align="center"><button class="btn btn-primary" {{action 'continue'}}>Continue</button></p>